.d-flex {
  display: flex !important;
}

.top-bar {
  min-height: 70px;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--color-primary);
}

.top-bar .top-bar-first a {
  padding: 5px 12px;
  border-radius: 15px;
  background-color: var(--color-primary);
  font-size: 14px;
  color: var(--white);
  line-height: 10px;
}

.social img {
  width: 32px;
  height: 32px;
}

.top-bar span a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.top-bar-second {
  gap: 15px;
}

.top-bar-second .search input {
  width: 218px;
  outline: 0;
  border: 1px solid var(--black);
  border-radius: 15px;
  padding: 4px 30px 4px 28px;
  font-size: 14px;
}

.top-bar-second .search img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 18px;
  cursor: pointer;
}

.top-bar-second a.recruit {
  background: linear-gradient(to right, #d80000, #f50200, #bb0100);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #fff !important;
  padding: 5px 20px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .top-bar-second {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .top-bar .top-bar-first a {
    font-size: 12px;
  }
  .social img {
    width: 26px;
    height: 26px;
  }
  .top-bar-second a.recruit {
    padding: 2px 15px;
    font-size: 14px;
  }
}
